* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #444;    
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: left;
    padding: 20px 0;
    color: #84F4BC;
    font-size: 80px;
    line-height: 83px;
    font-weight: 700;
}

h2 {
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hamburguer-menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburguer-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
}

.container {
    display: flex;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.flex-itens {
    width: 50vw;
    max-width: 50vw;
    padding: 2.5rem 8.5rem 0;
}

.hero {
    font-family: "Moderustic", sans-serif;
    background-image: url(/images/bg-sebrae.png);
    background-size: cover;
    background-position: center;
    height: 65vh;
    color: white;
    align-items: left;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.hero-planilha {
    background-color: #0024A9;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    width: 124px;
    height: 32.4px;
}

button {
    font-family: "Moderustic", sans-serif;
    text-transform: uppercase;
}

.form {
    background: white;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
}

.form-left {
    flex: 0.6;
}

.features-item {
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 31px;
    border: 1px solid #0024A9;
    border-radius: 25px;
    transform: rotate(0.09deg);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0024A9;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.box-form {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 40vw;
    height: 93px;
    background: #0024A9;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: 65px 0;
    padding: 20px;
}


.form-right {
    flex: 0.3;
    background-color: white;
    padding: 2rem;
    margin-top: -80px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.form-section input:focus {
    border-color: #007BFF;
    outline: none;
}

.form-section button {
    font-family: "Moderustic", sans-serif;
    text-transform: uppercase;
    background-color: #28a745;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: #218838;
}

label {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 0.75em;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

#step-indicator {
    margin-top: 1rem;
    text-align: center;
}

#consent-error {
    display: none;
}

.error-message {
    color: red;
    display: none;
    font-size: 0.9em;
}

.title {
    align-items: center;
    justify-content: center;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0;
    position: relative;
}

.grid-item {
    background: white;
    padding: 20px 0;
    text-align: center;
}

.final-section {
    background-image: url('/images/bg-final-section.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 0;
    color: white;
}

.final-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
}

.button-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.action-button {
    width: 40%;
    padding: 15px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer .social-icons {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

footer .social-icons a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .hero {
        background-image: url(/images/bg-sebrae-mob.png);
        height: 60vh;
        padding: 40px 0;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
        padding: 10px 30px 0 0;
    }
    
    h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 20px 0;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 123, 255);
        position: absolute;
        top: 70px;
        right: 20px;
        width: 150px;
        border-radius: 8px;
        padding: 10px;
    }

    .flex-itens {
        width: 100vw;
        max-width: 100vw;
        padding: 2rem;
    }

    .action-button {
        width: 80%;
    }

    .form-section {
        flex-direction: column;
        padding: 0 10%;
    }

    .box-form {
        width: 85vw;
        height: 35vh;
    }

    .form-right {
        flex: 1;
        margin-top: -27px;
        padding: 2rem;
    }

    .grid-section {
        grid-template-columns: 1fr;
    }

    .grid-form {
        grid-template-columns: 1fr;
    }

    .final-section {
        flex-direction: column;
        text-align: center;
    }

    .final-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .final-section img {
        margin-bottom: 20px;
        width: 100%;
    }

    .hamburguer-menu {
        display: flex;
    }

    .navbar {
        display: none;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}